*, *:before, *:after {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

body:before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    z-index: -1;
    animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

.main-panel {
    display: flex;
    flex-direction: column; /* stack children vertically */
}

.content-container {
    display: flex;
    flex-direction: row; /* stack children horizontally */
    padding: 0;
}

.main-panel {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    overflow: hidden;
    background-image: url('images/backGround.png');
    background-repeat: repeat;
    border: 1px solid #0FF;
    box-shadow: 0 0 5px #0FF, 0 0 10px #0FF, 0 0 15px #0FF, 0 0 20px #0FF;
}

.header {
    border: none;
    text-align: center;
    padding: 0;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    height: auto;
}

.left-column {
    flex: 1;
    margin-right: 20px;
    overflow: visible;
    padding: 20px;
}

.right-column {
    flex: 3;
    padding: 0;
    margin-bottom: 0;
    overflow: auto;
}

.sub-header {
    text-align: left;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #4A7562;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-bottom: 20px;
    display: block;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sub-header:hover img {
    filter: saturate(150%) hue-rotate(35deg);
}

.attributes {

    margin-left: 45px;
    text-align: center;
    width: 30%;
    display: block;
    transform: scale(0.8);
}

.section-border {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: #4A7562;
    padding: 0;
    margin-bottom: 20px;
}

.text {
    font-family: sans-serif;
}

.main-text {
    color: #F7FECB;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-self: flex-start;

}

.sub-title-text {
    margin-left: 50px;
}

.link-text {
    color: #903D4B;
    font-weight: bold;
    margin-left: 25px;
}


.collapsible-container {
    margin: 10px 0;
    border: 1px solid #ccc;
}

.collapsible-header {
    background-color: transparent;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #8BB289;
    position: relative;
    border-bottom: 1px dashed #8BB289;
    transition: background-color 0.5s, color 0.5s;
}

.collapsible-header::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid #8BB289;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: border-left-color 0.3s, transform 0.3s;
}

.collapsible-header.open::after {
    animation: glowEffect 0.75s alternate infinite;
}

@keyframes glowEffect {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}


.collapsible-header.open::before {
    transform: translateY(-50%) rotate(90deg);
    animation: glowEffect 0.75s alternate infinite;
}


.collapsible-header:hover {
    background-color: #E5EFE7;
    color: #5A855F;
}

.collapsible-header:hover::before {
    border-left-color: #5A855F;
}


.collapsible-content {
    padding: 0 10px;
    max-height: 0;
    margin: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 20px;
    color: #F7FECB;
}

.inner-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}