body {
    background-image: url('images/backGround.png');
    background-repeat: repeat;
}

body:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    z-index: -1;
    animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}