*, *:before, *:after {
    box-sizing: border-box;
}


body {

}

body:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    z-index: -1;
    animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

.main-panel {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    display: block;
    overflow: hidden;
    background-image: url('images/backGround.png');
    background-repeat: repeat;
    border: 1px solid #0FF;
    box-shadow: 0 0 5px #0FF, 0 0 10px #0FF, 0 0 15px #0FF, 0 0 20px #0FF;
}

.header {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.sub-header {
    text-align: left;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #4A7562;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.attributes {
    text-align: left;
    width: 30%;
    display: block;
}

.section-border {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: #4A7562;
    padding: 0;
    margin-bottom: 20px;
}